services:
  simple-nginx:
    container_name: simple_nginx_local
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8080:80"
    networks:
      - appnetwork

networks:
  appnetwork:
    name: appnetwork
    driver: bridge
